

<main>
        <h1 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">
            <span object key:name="@innerText" edit:name>
                {{default name "Click here to enter your name"}}
            </span>'s Calendar
        </h1>



    <div class="flex flex-col p-6">


        <div class="flex justify-center">
            <h2 class="flex self-center text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">
                <span object key:month="@innerText" edit:month>
                        {{default month "Enter Month"}}
                </span>, &nbsp;

                <span object key:years="@innerText" edit:years>
                        {{default years "Enter year"}}
                </span>&nbsp; |  &nbsp; page 5
            </h2>

        </div>



        <div class="flex space-x-6 self-end">

            <a class="transition ease-in-out delay-150 duration-300 text-white bg-gray-500 shadow-lg shadow-indigo-500/50 p-3
                      hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" href="/{{currentUser.details.username}}/app-index3">PREVIOUS</a>

        </div>







        <div class="items-end flex flex-wrap justify-center space-x-6 space-y-6 h-auto w-screen">







	        <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Sunday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthsunday="@innerText" edit:fifthsunday>{{default fifthsunday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>


                 <ul  array key="fifthPageSundayTodo" sortable>

                    {{#for todo in fifthPageSundayTodo}}
                     <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                     </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Monday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthmonday="@innerText" edit:fifthmonday>{{default fifthmonday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>



                 <ul  array key="fifthPageMondayTodo" sortable>

                    {{#for todo in fifthPageMondayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                 {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Tuesday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthtuesday="@innerText" edit:fifthtuesday>{{default fifthtuesday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="fifthPageTuesdayTodo" sortable>

                    {{#for todo in fifthPageTuesdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                 </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>






            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Wednesday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthwednesday="@innerText" edit:fifthwednesday>{{default fifthwednesday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="fifthPageWednesdayTodo" sortable>

                    {{#for todo in fifthPageWednesdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                        object
                        key:text="@innerText"
                        edit:text>
                        {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Thursday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifththursday="@innerText" edit:fifththursday>{{default fifththursday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="fifthPageThursdayTodo" sortable>

                    {{#for todo in fifthPageThursdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                        object
                        key:text="@innerText"
                        edit:text>
                        {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>









            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Friday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthfriday="@innerText" edit:fifthfriday>{{default fifthfriday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="fifthPageFridayTodo" sortable>

                    {{#for todo in fifthPageFridayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}
                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Saturday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:fifthsaturday="@innerText" edit:fifthsaturday>{{default fifthsaturday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="fifthPageSaturdayTodo" sortable>

                    {{#for todo in fifthPageSaturdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>





        </div>


    </div>


</main>
