

<main>
        <h1 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">
            <span object key:name="@innerText" edit:name:without-remove>
                {{default name "Click here to enter your name"}}
            </span>'s Calendar
        </h1>



    <div class="flex flex-col p-6">


        <div class="flex justify-center">
            <h2 class="flex self-center text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">
                <span object key:month="@innerText" edit:month:without-remove>
                        {{default month "Enter Month"}}
                </span>, &nbsp;

                <span object key:years="@innerText" edit:years:without-remove>
                        {{default years "Enter year"}}
                </span>&nbsp; |  &nbsp; page 4
            </h2>

        </div>



        <div class="flex space-x-6 self-end">

            <a class="transition ease-in-out delay-150 duration-300 text-white bg-gray-500 shadow-lg shadow-indigo-500/50 p-3
                      hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" href="/{{currentUser.details.username}}/app-index2">PREVIOUS</a>

            <a class="flex self-end transition ease-in-out delay-150 duration-300 text-white bg-gray-500 shadow-lg shadow-indigo-500/50 p-3
                      hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500" href="/{{currentUser.details.username}}/app-index4">NEXT</a>

        </div>







        <div class="items-end flex flex-wrap justify-center space-x-6 space-y-6 h-auto w-screen">







	        <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Sunday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthsunday="@innerText" edit:forthsunday:without-remove>{{default forthsunday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>


                 <ul  array key="forthPageSundayTodo" sortable>

                    {{#for todo in forthPageSundayTodo}}
                     <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                     </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Monday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthmonday="@innerText" edit:forthmonday:without-remove>{{default forthmonday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>



                 <ul  array key="forthPageMondayTodo" sortable>

                    {{#for todo in forthPageMondayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                 {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Tuesday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthtuesday="@innerText" edit:forthtuesday:without-remove>{{default forthtuesday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="forthPageTuesdayTodo" sortable>

                    {{#for todo in forthPageTuesdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                 </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>






            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Wednesday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthwednesday="@innerText" edit:forthwednesday:without-remove>{{default forthwednesday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="forthPageWednesdayTodo" sortable>

                    {{#for todo in forthPageWednesdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                        object
                        key:text="@innerText"
                        edit:text>
                        {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Thursday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forththursday="@innerText" edit:forththursday:without-remove>{{default forththursday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="forthPageThursdayTodo" sortable>

                    {{#for todo in forthPageThursdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                        object
                        key:text="@innerText"
                        edit:text>
                        {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>









            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Friday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthfriday="@innerText" edit:forthfriday:without-remove>{{default forthfriday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="forthPageFridayTodo" sortable>

                    {{#for todo in forthPageFridayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}
                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>







            <div class="flex flex-col shadow-lg bg-white w-60 p5">

                <h3 class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">&nbsp; Saturday &nbsp;|

                    <span>&nbsp;</span>
                    <span>{{month}}</span>
                    <span>&nbsp;</span>
                    <span object key:forthsaturday="@innerText" edit:forthsaturday:without-remove>{{default forthsaturday "Enter Date"}}</span>
                    <span>,&nbsp;</span>
                    <span>{{years}}</span>

                </h3>

                <ul  array key="forthPageSaturdayTodo" sortable>

                    {{#for todo in forthPageSaturdayTodo}}
                    <li class="container mx-auto text-black text-center bg-white-500 shadow-lg shadow-indigo-500 rounded-md m-4"
                    object
                    key:text="@innerText"
                    edit:text>
                    {{default todo.text "New todo item"}}
                    </li>
                    {{/for}}

                </ul>
                <button new:todo class="container mx-auto text-white text-center bg-green-500 shadow-lg shadow-indigo-500 rounded-md m-4">Add Todo</button>

            </div>





        </div>


    </div>


</main>
