<!doctype html>
<html lang="en">


<!-- ============================== head and Title===============================-->



<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Calendar App</title>


  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <style>
    body{
    background: #fff;
    color: #222;
    }

    body[key\:dark-mode="true"] {
      background: #222;
      color: #fff;

    }
  </style>

</head>



<!-- =============================================================================================-->


<body object key:dark-mode="false" class="bg-gray-100">
<!-- ===========================header=============================================================-->
<header>

  {{#if currentUser}}

    <nav class="p-6">


      <div class="flex flex-wrap justify-around">

        <a class="transition
          ease-in-out
          delay-150
          hover:-translate-y-1
          hover:scale-110
          hover:bg-indigo-500
          duration-300
          text-white
          bg-cyan-500
          shadow-lg
          shadow-cyan-500/50
          p-3
          rounded-md nav__button" href="/index">Home</a>

        <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/{{currentUser.details.username}}/app-index">Calendar</a>

 <a class="transition
           ease-in-out
           delay-150
           hover:-translate-y-1
           hover:scale-110
           hover:bg-indigo-500
           duration-300
           text-white
           bg-cyan-500
           shadow-lg
           shadow-cyan-500/50
           p-3
           rounded-md" href="/aboutus">About Us</a>


          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    rounded-md
                    p-3" href="/user/logout">Logout</a>

          <button toggle:dark-mode class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    rounded-md
                    p-3">Light/Dark</button>

        </div>
    </nav>


  {{else}}



  <nav class="p-6">

 <div class="flex flex-wrap justify-around sticky top-0 pt-1">

        <a class="transition
                  ease-in-out
                  delay-150
                  hover:-translate-y-1
                  hover:scale-110
                  hover:bg-indigo-500
                  duration-300
                  text-white
                  bg-cyan-500
                  shadow-lg
                  shadow-cyan-500/50
                  p-3
                  rounded-md nav__button" href="/index">Home</a>


          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    p-3
                    rounded-md" href="/aboutus">About Us</a>
          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    p-3
                    rounded-md nav__button" href="/signup">Sign Up</a>

          <a class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    rounded-md
                    p-3
                    nav__button" href="/login">Log in</a>

          <button toggle:dark-mode class="transition
                    ease-in-out
                    delay-150
                    hover:-translate-y-1
                    hover:scale-110
                    hover:bg-indigo-500
                    duration-300
                    text-white
                    bg-cyan-500
                    shadow-lg
                    shadow-cyan-500/50
                    rounded-md
                    p-3">Light/Dark</button>

        </div>

</nav>



  {{/if}}

  </header>

<hr>

<!--=======================================================================================================-->




<!--==========================================Main===========================================================-->

<main>

  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}


      <div class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">{{ this }}</div>


    {{/each}}
  {{/if}}




  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}

      <div class="container mx-auto text-white text-center bg-indigo-500 shadow-lg shadow-indigo-500 rounded-md m-4">{{ this }}</div>

    {{/each}}
  {{/if}}


<!-- =======================================================================================-->
  {{> yield }}



    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js">
    </script>

    <script src="/assets/js/vendor/crostini.min.js">
    </script>

    <script src="/remake/js/remake.min.js">
    </script>

    <script src="/assets/js/remake-init.js">
    </script>


    <script src="/assets/js/main.js">
    </script>

<!-- =========================================================================================================================-->

</main>

<!--=========================================================================================================================-->


<hr>

<!--====================================================Footer=========================================================-->
<footer>

{{#if currentUser}}
  <nav class="p-6">

    <div class="flex justify-center p-10">
      |&nbsp;  <a class="hover:text-blue-300" href="/index">Home</a>  	&nbsp;|	 	&nbsp;

        <a  class="hover:text-blue-300"  href="/{{currentUser.details.username}}/app-index">Calendar</a> 	&nbsp;| 	&nbsp;


        <a class="hover:text-blue-300" href="/aboutus">About Us</a>  &nbsp;| 	&nbsp;


        <a class="hover:text-blue-300" href="/user/logout">Logout</a> 	&nbsp;|

      </div>
  </nav>

{{else}}

<nav class="flex justify-center p-10">

<div class="">

|&nbsp;  <a class="hover:text-blue-300" href="/index">Home</a>  	&nbsp;|	 	&nbsp;

        <a class="hover:text-blue-300" href="/aboutus">About Us</a> 	&nbsp;| 	&nbsp;


        <a class="hover:text-blue-300 nav__button" href="/user/signup">Sign Up</a>  &nbsp;| 	&nbsp;


        <a class="hover:text-blue-300 nav__button" href="/user/login">Log In</a> 	&nbsp;|
</div>
</nav>
{{/if}}

  <span>&copy;Copyright 2022</span>
</footer>
<!--===================================================================================================================-->
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.10'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>

</html>
